{% block _register_form_save_widget %}
    <button id="register_form_submit" type="submit" class="btn btn-primary mt-2">Zarejestruj się <i
                class="fa-solid fa-user-plus"></i></button>
{% endblock %}
