{% block _register_form_save_widget %}
    <button id="register_form_submit" type="submit" class="btn btn-primary mt-2">Zarejestruj się <i
                class="fa-solid fa-user-plus"></i></button>
{% endblock %}
{% block _login_form_submit_widget %}
    <button type="submit" class="btn btn-primary mt-2">Zaloguj się <i
                class="fa-solid fa-arrow-right-to-bracket"></i></button>
{% endblock %}
