{% extends 'base.html.twig' %}

{% block title %}Panel użytkownika{% endblock %}

{% block body %}
    <body class="dashboard">
    <div id="react"></div>
    {% block javascripts %}
        {{ encore_entry_script_tags('react-app') }}
        {{ parent() }}
    {% endblock %}
    </body>
{% endblock %}
