{% extends 'base.html.twig' %}

{% block title %}Panel użytkownika{% endblock %}

{% block body %}
    <body class="dashboard">
    <!--Main Navigation-->
    <header class="mb-5">
        <!-- Sidebar -->
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
            <div class="position-sticky">
                <div class="list-group list-group-flush mx-3 mt-4">
                    <a
                            href="#"
                            class="list-group-item list-group-item-action py-2 ripple active"
                            aria-current="true"
                    >
                        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Strona główna</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fa-solid fa-jar fa-fw me-3"></i><span>Moje leki i suplementy</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple"
                    ><i class="fa-solid fa-user fa-fw me-3"></i><span>Mój profil</span></a
                    >
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple"
                    ><i class="fa-solid fa-gear fa-fw me-3"></i><span>Ustawienia</span></a
                    >
                    <a href="/" class="list-group-item list-group-item-action py-2 ripple"
                    ><i class="fa-solid fa-power-off fa-fw me-3"></i><span>Wyloguj się</span></a
                    >
                </div>
            </div>
        </nav>
        <!-- Sidebar -->

        <!-- Navbar -->
        <nav id="main-navbar" class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Toggle button -->
                <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#sidebarMenu"
                        aria-controls="sidebarMenu"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                >
                    <i class="fas fa-bars"></i>
                </button>

                <!-- Brand -->
                <a class="navbar-brand fst-italic d-none d-lg-block" href="#">Moje-Tabsy.pl <i
                            class="fa-solid fa-pills"></i></a>
                <!-- Search form -->
                <form class="d-none d-md-flex input-group w-auto my-auto">
                    <input
                            id="searchInput"
                            autocomplete="off"
                            type="search"
                            class="form-control rounded-start dashboard__search"
                            placeholder='Wyszukaj'
                    />
                    <label for="searchInput" class="visually-hidden">Wyszukaj</label>
                    <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
                </form>

                <!-- Right links -->
                <ul class="navbar-nav ms-auto d-flex flex-row">
                    <!-- Notification dropdown -->
                    <li class="nav-item dropdown">
                        <a
                                class="nav-link me-3 me-lg-0 notifications-dropdown dropdown-toggle hidden-arrow"
                                href="#"
                                id="notificationDropdown"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                        >
                            <i class="fas fa-bell"></i>
                            <span class="badge rounded-pill badge-notification bg-danger">1</span>
                        </a>
                        <ul
                                class="dropdown-menu dropdown-menu-end"
                                aria-labelledby="notificationDropdown"
                        >
                            <li>
                                <a class="dropdown-item" href="#">Some news</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Another news</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Icon dropdown -->
                    <li class="nav-item dropdown">
                        <a
                                class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow"
                                href="#"
                                id="navbarDropdown"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                        >
                            <i class="m-0">🇵🇱</i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="#"
                                ><i>🇵🇱</i> Polski
                                    <i class="fa fa-check text-success ms-2"></i
                                    ></a>
                            </li>
                            <li>
                                <hr class="dropdown-divider"/>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"><i>🇬🇧</i> English</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Avatar -->
                    <li class="nav-item dropdown">
                        <a
                                class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
                                href="#"
                                id="navbarDropdownMenuLink"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                        >
                            <i class="fa-solid fa-circle-user fs-4"></i>
                        </a>
                        <ul
                                class="dropdown-menu dropdown-menu-end"
                                aria-labelledby="navbarDropdownMenuLink"
                        >
                            <li>
                                <a class="dropdown-item" href="#">Mój profil</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Ustawienia</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path('app_logout') }}">Wyloguj się</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main class="dashboard__main">
        <div class="container py-4">
            <h1 class="text-center">Podsumowanie</h1>
            <!--Drugs amount -->
            <div class="card text-center mt-3">
                <div class="card-header">
                    Leki/suplementy <i class="fa-solid fa-pills"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Lista leków i suplementów:</h5>
                    <ul class="card-text list-group">
                        <li class="list-group-item"><span class="fw-bold">Xanax</span>: 60/120 szt.</li>
                        <li class="list-group-item"><span class="fw-bold">Witamina C</span>: 20/80 szt.</li>
                        <li class="list-group-item"><span class="fw-bold">Metanabol</span>: 4/10 amp. 10 ml</li>
                    </ul>
                    <div class="d-grid">
                        <a href="#" class="btn btn-primary mt-2">Edytuj <i class="fa-solid fa-pencil"></i></a>
                    </div>
                </div>
            </div>
            <!--Drugs amount -->

            <!--Schedule and storage -->
            <div class="row mt-3">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            Dzisiaj muszę zażyć <i class="fa-solid fa-clock"></i>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li><span class="fw-bold">18:00</span> — Xanax: 1 szt.</li>
                                <li><span class="fw-bold">20:00</span> — Witamina C: 1 szt.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-3 mt-lg-0">
                    <div class="card">
                        <div class="card-header">
                            Stan zapasów <i class="fa-solid fa-warehouse"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-uppercase text-bg-danger text-center rounded">Uwaga! 😱</h5>
                            <p class="card-text">Zapasy następujących leków/suplementów ulegają wyczerpaniu:</p>
                            <ul class="list-unstyled">
                                <li class="text-danger">Metanabol <span class="fw-bold">4/10 amp. 10 ml</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--Schedule and storage -->
            </div>
        </div>
    </main>
    <!--Main layout-->
    <div id="react"></div>

    {% block javascripts %}
        {{ encore_entry_script_tags('react-app') }}
        {{ parent() }}
    {% endblock %}
    </body>
{% endblock %}
