{% extends 'base.html.twig' %}

{% block title %}Error 404{% endblock %}

{% block body %}
    <body>
    <main>
        <section class="user-info position-relative">
            <div class="user-info__overlay position-absolute top-50 start-50 translate-middle text-center bg-white p-4 rounded">
                <h1 class="display-4 text-danger">Strona nie została znaleziona 😥</h1>
                <a href="{{ path('front_page') }}">Powrót do strony głównej</a>
            </div>
        </section>
    </main>
    </body>
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}